# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.tmp-7z-setup
scripts/.tmp-hydra-db-snapshot
src-tauri/binaries/*.exe
src-tauri/binaries/*.dll
src-tauri/target/
scripts/__pycache__/
**/__pycache__/
